{% extends "layout.html" %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block style %}
        #advert {
            background-color: rgb(4, 38, 46);
    }
    .grider {
        margin-bottom: 1rem;
    }
    @media screen and (min-width:600px) {
        #scroll-cart {
            overflow: hidden
        }
    }
{% endblock style %}

{% block bodyContent %}

<header class="sticky top-0 z-10 bg-white right-0 w-full backdrop-blur-md">
    <!--Advitisement part-->
    <div id="advert" class="py-3 text-md w-full md:text-lg font-sans font-bold capitalize text-white text-center tracking-wider">
        <p>Spring Into savings Up to 35% off Latest Movies</p>
    </div>
    <!--Links-->
    <div class="flex items-center justify-between gap-8 py-4 px-3">
        <div class="flex items-center justify-start gap-4">
            <a href="/" class="font-extrabold font-sans text-2xl tracking-wider">KingstoneMovies</a>
            <form action="/multi-media/movies/">
                <input type="text" value="movies" name="type" class="hidden">
                <button class="text-black text-opacity-75 text-md font-sans hover:text-opacity-95 tracking-wide hidden md:block">Movies</button>
            </form>
            <form action="/multi-media/movies/">
                <input type="text" value="tvShows" name="type" class="hidden">
                <button class="text-black text-opacity-75 text-md font-sans hover:text-opacity-95 tracking-wide hidden md:block">Tv Shows</button>
            </form>
            <form action="/multi-media/movies/">
                <input type="text" value="music" name="type" class="hidden">
                <button class="text-black text-opacity-75 text-md font-sans hover:text-opacity-95 tracking-wide hidden md:block">Music</button>
            </form>
            <form action="/multi-media/movies/">
                <input type="text" value="movies" name="type" class="hidden">
                <button class="text-black text-opacity-75 text-md font-sans hover:text-opacity-95 tracking-wide hidden md:block">Trending</button>
            </form>
            
        </div>
        <div class="flex items-center justify-end gap-4">
            <!--search video-->
            <form action="/search/" class="justify-end p-2 items-center shadow-md shadow-gray-500 rounded-2xl hidden lg:flex">
                
                  <input type="text" name="searchTerm" class="focus:outline-none px-1" id="search" placeholder="search Movies, Tv shows and Musics">
                  <button>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-black text-opacity-80">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                      </svg>
                  </button>
            </form>

            <!--message-->
            <a href="/message/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:fill-slate-500 hover:text-slate-200">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                  
                </a>

                <a href="/membership/dashboard/">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:fill-white hover:text-black">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                      </svg>
                      
                </a>

                <!--cart icon-->
                <div class="relative">
                    <p class="absolute -top-1/2 font-extrabold right-0 text-red-600 ">{{context.number}}</p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 block">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                    </div>
                    </div>
        </div>
    </div>


    <!--SLiding Link-->
</header>

<main class="px-10 py-3 md:w-5/6 mx-auto">

    <h2 class="text-center font-bold text-xl font-sans tracking-wide mb-8">Your Cart ({{context.number}} items)</h2>
        <section class="w-full sm:grid sm:grid-cols-2 sm:gap-3 md:grid md:grid-cols-3 md:gap-4 xl:grid xl:grid-cols-4 xl:gap-3 3xl:grid 3xl:grid-cols-5 3xl:gap-3 ">
            <!-- <thead class="border-b-2 border-b-gray-600 border-opacity-10 hidden">
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Item</th>
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Type</th>
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Year</th>
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Price</th>
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Download</th>
                <th class="pb-3 text-center  text-lg font-sans tracking-wide">Edit</th>
            </thead> -->

           
                {% for carty in  context.allCarts%}
                <div class="p-2 rounded-md w-full  mb-4 shadow-md shadow-gray-400">
                    <div class="grid grid-cols-2 gap-3 place-content-center  ">
                        <!-- normal positioned image -->
                        <div class="rounded-md overflow-hidden">
                            <img src="{{carty.image.url}}" class="w-full" alt="" width="270" height="170">
                        </div>
                        <div class="">
                            <div>
                                <p class=" text-amber-700 font-bold font-sans py-1">{{carty.title}}</p>
                            </div>
                        

                            <div class="text-amber-700 font-bold font-sans py-1 capitalize">{{carty.typs}}</div>
                            <div class="text-amber-700 font-bold font-sans py-1 capitalize">{{carty.season}}</div>
                            <div class="text-gray-700 font-bold font-sans py-1 capitalize">
                                Ksh.{{carty.price}}
                            </div>
                        </div>
                    </div>

                   <div class="mt-3 flex items-center justify-start gap-4">
                    <div >
                        <form action="/mp4/">
                            <input type="text" value="{{carty.title}}" name="videoTitle" hidden>
                            <button class="bg-green-600 w-fit px-2 rounded-md text-sm font-sans text-gray-100 hover:cursor-pointer hover:bg-opacity-70 font-bold">Download</button>
                        </form>
                    </div>
                    <!--remove from cart-->
                    <div>
                        <p class="bg-red-600 w-fit px-2 rounded-md text-sm font-sans text-gray-100 hover:cursor-pointer hover:bg-opacity-70 font-bold removeCartActivate" id="{{carty.title}}">Remove</p>
                    </div>
                   </div>
                   </div>
                </div>
                {% endfor %}


            </div>
        </section>
    <div class="my-5">
        <p class="capitalize font-bold text-lg font-sans tracking-wide">Grand total: Ksh.<span>{{context.total}}</span></p>
    </div>
    <form action="/downloadall/" class="bg-amber-700 w-fit p-1 rounded-md text-sm text-white font-bold hover:shadow-md hover:shadow-sky-300">
        <button class="">Downaload All</button>
    </form>
</main>

<!--Delete confirm-->
<section class="fixed -top-full z-10 left-0 w-full h-screen bg-gray-400  bg-opacity-50 flex items-start justify-center transition-all duration-100 ease-linear" id="removeCartSection">
    
    <div class="bg-gray-900 text-white mt-3 p-3 rounded-md">
        <p class="py-2 px-1">Confirm you want to remove Item from cart.</p>
        <div class="flex items-center justify-center gap-10">
            <form action="/removeCart/" method="post">
                {% csrf_token %}
                <input type="text" id="deleteInput" value="" name="videoTitle" hidden>
                <button class="capitalize bg-red-700 px-2 font-bold rounded-md hover:bg-red-500" id="removeCart">remove</button>
            </form>
            <p class="capitalize bg-green-700 px-2 font-bold rounded-md hover:cursor-pointer hover:bg-green-500" id="cancelRemoveCart">Cancel</p>
        </div>
        
    </div>
   
</section>
<script>

    const removeCartActivate = document.getElementsByClassName("removeCartActivate")
    const removeCartSection = document.getElementById("removeCartSection")
    const cancelRemoveCart = document.getElementById("cancelRemoveCart")
    const removeCart = document.getElementById("removeCart")
    const deleteInput = document.getElementById("deleteInput")
    const cartSectionRemove = [cancelRemoveCart, removeCart] 

    for (const remCartActivate of removeCartActivate){
        remCartActivate.addEventListener("click", ()=> {
            deleteInput.value = remCartActivate.id
            removeCartSection.style.top="0"
        })
    
    } 


    for (const csr of cartSectionRemove){
        csr.addEventListener("click", ()=> {
            removeCartSection.style.top="-100%"
        })
    }
    

    
</script>
{% endblock bodyContent %}
