{% extends "type.html"%}
{% load static %}


{% block title %}
    categories
{% endblock title %}


{% block loopContent %}
{% for videoDetail in  context.videoDetails%}
<form action="/mp4/" class="rounded-md overflow-hidden hover:shadow-md hover:shadow-sky-400 pb-3 transition-all duration-300 ease-out">
    <input type="text" name="videoTitle" value="{{videoDetail.title}}" hidden>
    <button class="block w-full">
        <img src="{{videoDetail.image.url}}" alt="Movie img" class="inline-block object-cover w-full" id="categoryFormImg">
        <div>
            <p class="w-full text-left capitalize text-white font-bold pt-2 font-sans" id="categoryFormP">{{videoDetail.title}}</p>
            <p id="categoryFormP" class="w-full text-left capitalize font-bold pb-3 text-white text-opacity-60 font-sans">{{videoDetail.title}}</p>
        </div>
    </button>
</form>
{% endfor %}
{% endblock loopContent %}