{% extends "registration.html" %}
{% block title %}
    Deposit
{% endblock title %}

{% block form %}
{% if context.buyer %}
<div class=" px-3">
    <h2 class="text-center text-lg my-2 font-bold text-gray-900 text-opacity-80">Mpesa Payment</h2>
    <h2 class="my-2 border-b-2 border-gray-600 pb-2">Instructions</h2>
    <div class="text-sm my-3 px-2 text-black text-opacity-80">
        <p>- On the amount section, Enter amount in number you want to deposit. e.g 200.</p>
        <p>- Enter your safaricom phone number which you want to deposit from.</p>
        <p>- Check again to verify data entered is correct.</p>
        <p>- Click on deposit</p>
        <p>- On your phone where the line of number you entered is active, mpesa prompt will appear asking for your mpesa pin.</p>
        <p>- Enter your pin to complete transaction.</p>
        <p>- Once done, check on your account profile, or deposit history to confirm you transaction was sucessful.</p>
    </div>
</div>
<form action="/deposit/" method="post" id="form" class="">
    {% csrf_token %}
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="amount to deposit">
    <label for="amount">Phone Number</label>
    <input type="number" name="phoneNumber" id="phoneNumber" placeholder="phone number ">
    <button class="bg-green-600 mt-3 p-2 text-sm text-white rounded-md font-bold hover:opacity-90" id="deposit">
        
        deposit
        
    </button>
</form>
{% else %}
<p class="text-xl font-sans">You Account is not Authorised to perform Some functions in this platform. <a class="text-sky-700" href="/message">Please Contact for any query</a>. </p>
{% endif %}
</section>
{% endblock form %}


{% block formExtra %}
{% endblock formExtra %}
{% block formExtraLink %}

{% endblock formExtraLink %}
{% block formExtraLinkName %}

{% endblock formExtraLinkName %}
{% block script %}
<script>
    const form = document.getElementById("form")
    const deposit = document.getElementById("deposit")
    deposit.addEventListener("click", (e) => {
        e.preventDefault()
        form.submit()
        //history.back()
    })
    console.log()
</script>
{% endblock script %}