{% extends "layout.html" %}
{% load static %}
{% block title %}
KingstoneMovies
{% endblock title %}
{% block style %}
    body {
        scroll-behaviour:smooth;
        background:black;
    }
    header {
        height: 100%;
        color:white;
    }
    #imgTrail {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        <!-- display: block; -->
    }
    #Trailler-title {
        font-size: 1.8rem;
    }
    #popularFormImg{
        height: 30vh;
        width: 100%;
        border-radius: 5px;
    }
    #categoryFormImg{
        height: 20vh;
        border-radius: 2px;
    }
    #categoryFormP {
        font-size: 0.8rem;
        letter-spacing: 1.5px;
    }
    #movix {
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) )
    }
 
   #CartegoryOverflow::webkit-scrollbar {
    width: 2px;
   }
   #CartegoryOverflow::webkit-scrollbar-thumb {
    width:3px;
   }
   #movie {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    animation: slides 25s infinite;
   }
   @keyframes slides {
    0% {transform: translateX(0%);}
    20% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    40% {transform: translateX(-100%);}
    45% {transform: translateX(-200%);}
    60% {transform: translateX(-200%);}
    65% {transform: translateX(-300%);}
    80% {transform: translateX(-300%);}
    85% {transform: translateX(-400%);}
    100% {transform: translateX(-400%);}

   }
   .slide {
    min-width: 100%;
    max-width: 100%;
   }
   @media screen and (min-width: 500px) {
        #CartegoryOverflow {
            display: flex;
            gap: 1rem;
            flex-wrap:wrap;
        }
                
     
   }
   @media screen and (min-width:900px) {
    #imgTrail {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
    }

    #profile, #profile1 {
        border-radius: 50%;
        padding:1px;
    }
    #profile:hover {
        cursor:pointer;
    }
   
  
  
{% endblock style %}
{% block bodyContent %}

<ul class="flex-col w-0 fixed top-0 right-0 h-full bg-black transition-all duration-100 ease-linear z-20 font-mono text-white justify-start text-opacity-80 font-bold " id="cancelMenus">
    <div class="hover:cursor-pointer" id="cancelButton">
        <svg class="w-6 h-6 text-white block  " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
          </svg>
          
    </div>
    <li><a href="" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Home</a></li>
    <!--<li><a href="" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">About</a></li>-->
    <form action="/multi-media/movies/">
        <input type="text" value="movies" name="type" class="hidden">
        <button class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Movies</button>
    </form></li>
    <!--<li><form action="/multi-media/music/">
        <input type="text" value="Music" name="type" class="hidden">
        <button class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Music</button>
    </form></li>-->
    <li><form action="/multi-media/tvShows/">
        <input type="text" value="series" name="type" class="hidden">
        <button class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Tv Show</button>
    </form></li>

    <!--If autheticated display profile content-->
    {% if user.is_authenticated %}
    {% if context.is_approved.is_approved %}
    <a href="/admins/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Admins</a>
    {% endif %}
    {% if context.is_approved.is_superuser %}
    <a href="/admin/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Admin</a>
    {% endif %}
    <a href="/membership/dashboard/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Dashboard</a>
    <a href="/cart/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Cart</a>
    <a href="/membership/setting/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Setting</a>
    <a href="/membership/logout/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Signout</a>
    <!--else display login-->
    {% else %}
    <li><a href="/membership/login/" class="pt-4 text-center hover:text-red-500 transition-all block w-full duration-100 ease-out">Login</a></li>
    {% endif %}
</ul>
  <header class="sticky top-0 w-full z-10 bg-black" id="header">

   
   <!-- <div class="fixed top-0 left-0 w-full"> -->
    <div class="bg-gray-100 flex justify-between items-center relative p-3 gap-2 bg-opacity-10">
        <h1 class="text-red-600 bold flex items-start justify-start flex-wrap text-3xl font-bold  ">
            <p>Kingstone</p>
            <p>Movies</p>
        </h1>
        <form action="/search/" class="hidden w-0 md:flex  transition-all duration-150 ease-linear text-black rounded-md overflow-hidden lg:w-fit" id="searchForm">
            <input type="text" name="searchTerm" placeholder="Search a movie" class="focus:outline-0 outline-none focus:border-none border-none w-full" autofocus>
            <button class="bg-black bg-opacity-20 text-white px-2 font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  
            </button>
        </form>
        <nav class="md:flex md:items-center md:justify-end gap-2">
            <!-- <div class="flex items-center justify-end gap-2"> -->
                <div id="disappearButtonMd" class="hidden md:block ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                    
                </div>
            <ul class="hidden md:flex md:gap-2" id="listMenus">
                <li>
                    <form action="/search/" class="hidden" id="searchForm">
                        <input type="text" name="searchTerm" placeholder="Search a movie" class="focus:outline-0 outline-none focus:border-none border-none" autofocus>
                        <button class="bg-black bg-opacity-20 text-white px-2 font-bold">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                              </svg>
                              
                        </button>
                    </form>
                </li>
                <!-- <li><a href="" class="hover:text-red-500 transition-all duration-100 ease-out linkSearch">Home</a></li> -->
                <!--<li><a href="/admins/" class="hover:text-red-500 transition-all duration-100 ease-out">About</a></li>-->
                <li><form action="/multi-media/movies/">
                    <input type="text" value="movies" name="type" class="hidden">
                    <button class="hover:text-red-500 transition-all duration-100 ease-out ">Movies</button>
                </form></li>
                <li><form action="/multi-media/music/" class="linkSearch">
                    <input type="text" value="Music" name="type" class="hidden">
                    <button class="hover:text-red-500 transition-all duration-100 ease-out">Music</button>
                </form></li>
                <li><form action="/multi-media/tvShows/" class="">
                    <input type="text" value="series" name="type" class="hidden">
                    <button class="hover:text-red-500 transition-all duration-100 ease-out whitespace-nowrap">Tv Show</button>
                </form></li>

                <!--if Autheticated display profile clickable link-->
                {% if user.is_authenticated %}
                    {% if context.is_approved.is_approved %}
                        <a href="/admins/" class="linkSearch hover:text-red-500 transition-all duration-100 ease-out">Admins</a>
                    {% endif %}
                    {% if context.is_approved.is_superuser %}
                        <a href="/admin/" class="linkSearch hover:text-red-500 transition-all duration-100 ease-out">Admin</a>
                    {% endif %}
                    <div class="bg-sky-600" id="profile">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
                      </svg>
                    </div>

                <!--profile setting links display-->

                <div class="fixed  top-4 bg-slate-600 p-4 rounded-md w-0 -right-1/3 transition-all duration-200 ease-in-out z-30" id="profileSetting">
                    <div class="mouse-over flex items-center justify-start gap-6 py-3 shadow-md shadow-gray-400 px-2 mb-3">
                        <div class="bg-sky-600 w-fit h-fit" id="profile1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                              </svg>
                              
                        </div>
                        <div class="mouse-over ">
                            {% if not context.username == "False" %}
                            <p class="border-b-2 border-gray-300 border-opacity-50">Hi, {{context.username}}</p>
                            {% else %}
                            <p class="border-b-2 border-gray-300 border-opacity-50">Hi, Stoners</p>
                            {% endif %}
                            <p>{{context.email}}</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <a href="/membership/dashboard/" class="hover:text-gray-400 transition-all duration-100 ease-linear">Dashboard</a>
                        <a href="/cart/" class="hover:text-gray-400 transition-all duration-100 ease-linear">Cart</a>
                        <a href="/membership/setting/" class="hover:text-gray-400 transition-all duration-100 ease-linear">Setting</a>
                        <a href="/membership/logout/" class="hover:text-gray-400 transition-all duration-100 ease-linear">Signout</a>
                    </div>
                </div>
                 <!--else display login link-->
                 {% else %}
                <li><a href="/membership/login/" class="hover:text-red-500 transition-all duration-100 ease-out">Login</a></li>
                {% endif %}
            </ul >
            <!-- search icon -->
             <div class=" flex gap-3 items-start justify-end text-lg font-bold md:hidden">
                <div id="disappearButton">
                    <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                    
                </div>
                <div id="listMenu" class=""><svg class="w-6 h-6  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
                  </svg>
                </div>
             </div>
        </nav>
    </div>
   <!-- </div> -->
    <!-- search form -->
    <div class="py-3 w-full h-0 hidden transition-all duration-500 ease-linear  disappear bg-gray-800 px-3">
        <form action="/search/" class=" ">
            <label for="searchTerm" class="block text-white text-opacity-60 text-xl py-3">Search Term:</label>
            <span class="flex items-center justify-center gap-4">
            <input type="text" placeholder="
            {% block searchFor %}
            Search for {{context.type}}
            {% endblock searchFor %}
            " name="searchTerm" class=" bg-gray-400 py-1 px-2 bg-opacity-20 w-full border-none focus:border-none focus:ring-0 outline-none text-white text-opacity-90 rounded-md">
            <button class="bg-blue-600  py-1 px-2 border-none focus:border-none focus:ring-0 outline-none text-white text-opacity-90 rounded-md">Search</button>
        </span>
        </form>
    </div>   
  </header>
  <div class="overflow-hidden">
    <div  id="movie">
        {% for latest in context.latestVideos%}
            <div class="relative slide">
            <div class="">
                    <img src="{{latest.image.url}}" id="imgTrail" alt="">
                </div>
                <div class="absolute top-0 left-0 w-full grid place-content-center h-full gap-3" id="movix">
                    <div class=" pb-4">
                        <p class="text-2xl text-gray-300 text-center tracking-wider font-mono font-extrabold capitalize">{{latest.title}} </p>
                        <p class="text-2xl text-sky-400 font-bold text-center tracking-wide capitalize">{{latest.season}} </p>
                    </div>
                    
                    <div class="pt-4">
                        <p class="font-sans font-bold font-sm text-white text-opacity-80 text-center pt-3 capitalize" id="Trailler-description">{{latest.synopsis}} </p>
                    </div>
            
                    <div class="flex justify-start items-center mt-3 w-full flex-wrap">
                        <!--Link to category page-->
                        <form action="/multi-media/cart/" class="border-r-2 pr-4 border-white">
                            <input type="text" name ="cartName" value="{{latest.cartegory}}" hidden>
                            <button class="text-red-600 font-bold capitalize">{{latest.cartegory}}</button>
                        </form>
            
                        <!--Link to type page-->
                        <form action="/multi-media/tvShows/" class="border-r-2 pl-4 pr-4 border-white">
                            <input type="text" value="{{latest.typs}}" name="type" hidden>
                            <button class="text-red-600 font-bold capitalize">{{latest.typs}}</button>
                        </form>
            
                        <!--link to movie page-->
                        <form action="/mp4/">
            
                            <input type="text" name="videoTitle" value="{{latest.title}}" hidden>
                            <button class="border-r-2 pl-4 pr-4 border-white text-red-600 capitalize font-bold">{{latest.season}}</button>
                        </form>
                    </div>
                    <!--link to watch trailler play page-->
                    <form action="/mp4/">
                        <input type="text" name="videoTitle" value="{{latest.title}}" hidden>
                        <button class="inline-block bg-black bg-opacity-60 text-sm font-extrabold font-sans text-red-600 bold p-2 rounded-md hover:text-red-500 hover:cursor-pointer" >WATCH</button>
                    </form>
                
                </div>
            </div>
        {%endfor%}
    </div>
  </div>
  <main class="px-8 bg-black text-white pt-3">
    
    <div class="pt-4">
        
        <h2 class="font-bold font-sans text-lg pb-4">Popular</h2>
       
        <div class="grid grid-cols-2 gap-4" id="CartegoryOverflow">
             <!--Loop though video and disply where display where display on popular is true-->
            
             {% for videoDetail in context.allVideoDetails %}
             {% if videoDetail.popular ==  "True"%}
                 <form action="/mp4/" class="block formPopular ">
                     <input type="text"  name="videoTitle" value="{{videoDetail.title}}" hidden>
                     <button class="block w-full">
                         <img src="{{videoDetail.image.url}}" alt="Movie img" class="object-cover w-full" width="" height="400" id="categoryFormImg">
                         <div class="overflow-hidden w-full">
                             <p class="w-full text-left capitalize text-red-600 font-bold pt-2" id="categoryFormP">{{videoDetail.title}}</p>
                             <p id="categoryFormP" class="w-full text-left text-red-600 capitalize font-bold pb-3">{{videoDetail.typs}}</p>
                         </div>
                     </button>
                 </form>
             {% endif %}
         {% endfor %}
            
        </div>
    </div>
   <section>
    <!--load categories and videoDetails from database, Loop through  in each cartegories, loop thorugh videoDetails and diplay video whose display is true and catergories is equal-->
    <div class="pt-4">
        {% for cartegory in context.cartegories %}
        <h2 class="font-bold font-sans text-lg cartName capitalize" >{{cartegory.cartName}}</h2>
        <div>

            <!--Get movie id and link to movie page-->
            <div class="grid grid-cols-2 gap-4" id="CartegoryOverflow">
                <!--Loop movie data and diplay on the tags below-->
                {% for videoDetail in context.allVideoDetails %}
                    {% if videoDetail.display ==  "True" and videoDetail.cartegory_id == cartegory.cartName%}
                        <form action="/mp4/" class="block  formPopular">
                            <input type="text" name="videoTitle" value="{{videoDetail.title}}" hidden>
                            <button class="block w-full">
                                <img src="{{videoDetail.image.url}}" width="" height="400" alt="Movie img" class="block object-cover" id="categoryFormImg">
                                <div class="overflow-hidden w-full">
                                    <p class="w-full text-left capitalize text-red-600 font-bold pt-2" id="categoryFormP">{{videoDetail.title}}</p>
                                    <p id="categoryFormP" class="w-full text-left text-red-600 capitalize font-bold pb-3">{{videoDetail.typs}}</p>
                                </div>
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}       
            </div>
            <!--View all videos on that category-->
            <form action="/multi-media/cart/">
                <!--Link to cartegoryPage based on value passed-->
                <input type="text" name ="cartName" value="{{cartegory.cartName}}" hidden>
                <button class="w-full pt-3 text-sky-300 hover:text-sky-200 transition-all duration-100 ease-in-out">

                    <p class="flex justify-end " id="vAll">View all</p>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    
   </section>

  </main>
  <footer class="text-center sm:flex-wrap px-3 pt-16 bg-black sm:flex gap-6 sm:items-start sm:justify-evenly">
        <h2 class="text-red-600 bold pb-2 text-3xl font-bold pt-4 sm:pt-0">KingstoneMovies</h2>
        <div>
            <h3 class="text-white font-bold text-lg ">Quick Navigation</h3>
            <div class=" md:flex flex-col items-start justify-center">
                <a href="/" class="text-white text-opacity-70 font-sans text-bold">Home</a>
                <a href="https://augustine.pages.dev" class="text-white text-opacity-70 font-sans text-bold">About</a>
                <li><form action="/multi-media/movies/">
                    <input type="text" value="movies" name="type" class="hidden">
                    <button class="text-white text-opacity-70 font-sans text-bold">Movies</button>
                </form></li>
                <li><form action="/multi-media/music/">
                    <input type="text" value="music" name="type" class="hidden">
                    <button class="text-white text-opacity-70 font-sans text-bold">Music</button>
                </form></li>
                <li><form action="/multi-media/tvShows/">
                    <input type="text" value="tvShows" name="type" class="hidden">
                    <button class="text-white text-opacity-70 font-sans text-bold">Tv Show</button>
                </form></li>
               
                <!--<a href="https://augustine.pages.dev" class="text-white text-opacity-70 font-sans text-bold">Movies</a>
                <a href="https://augustine.pages.dev" class="text-white text-opacity-70 font-sans text-bold">Tv Shows</a>
                <a href="https://augustine.pages.dev" class="text-white text-opacity-70 font-sans text-bold">Music</a>-->
            </div>
        </div>
        <div>
            <h3 class="text-white font-bold text-lg">Contact Us</h3>
            <p class="text-white text-opacity-70 font-sans text-bold">Email Address</>
            <p class="text-white text-opacity-70 font-sans text-bold">+254706335775</p>
            <a href="/message/" class="text-white text-opacity-70 font-sans text-bold">Message</a>
        </div>
        <div>
            <h3 class="text-white font-bold text-lg">Social Media</h3>
            <div class="flex items-center justify-center gap-1">
                <!--facebook-->
                <a href="https://www.facebook.com/profile.php?id=61562863659214" class="text-white text-opacity-70 font-sans text-bold" target="blank" ><svg class="w-6 h-6 text-gray-800 hover:text-sky-200 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                  </svg>
                  </a>

                <!--instagram-->
                <a href="https://www.instagram.com/aleewamovies/profilecard/?igsh=MWQ2ZDB3dmJxaW1maw==" class="text-white text-opacity-70 font-sans text-bold" target="blank"><svg class="w-6 h-6 text-gray-800 hover:text-sky-200 dark dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
			</svg>
                </a>

                <!--Twitter-->
                <a href="https://x.com/Geniuskevoh?t=XuuzUe9qhUMCV0oNGca5Rw&s=09" class="text-white text-opacity-70 font-sans text-bold" target="blank"><svg class="w-6 h-6 text-gray-800 hover:text-sky-200 dark dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
                  </svg>
                </a>

                <!--Whatsapp-->
                <a href="https://wa.me/254708198410" class="text-white text-opacity-70 font-sans text-bold" target="blank"><svg class="w-6 h-6 text-gray-800 hover:text-sky-200 dark dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" fill-rule="evenodd" d="M12 4a8 8 0 0 0-6.895 12.06l.569.718-.697 2.359 2.32-.648.379.243A8 8 0 1 0 12 4ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.96 9.96 0 0 1-5.016-1.347l-4.948 1.382 1.426-4.829-.006-.007-.033-.055A9.958 9.958 0 0 1 2 12Z" clip-rule="evenodd"/>
                    <path fill="currentColor" d="M16.735 13.492c-.038-.018-1.497-.736-1.756-.83a1.008 1.008 0 0 0-.34-.075c-.196 0-.362.098-.49.291-.146.217-.587.732-.723.886-.018.02-.042.045-.057.045-.013 0-.239-.093-.307-.123-1.564-.68-2.751-2.313-2.914-2.589-.023-.04-.024-.057-.024-.057.005-.021.058-.074.085-.101.08-.079.166-.182.249-.283l.117-.14c.121-.14.175-.25.237-.375l.033-.066a.68.68 0 0 0-.02-.64c-.034-.069-.65-1.555-.715-1.711-.158-.377-.366-.552-.655-.552-.027 0 0 0-.112.005-.137.005-.883.104-1.213.311-.35.22-.94.924-.94 2.16 0 1.112.705 2.162 1.008 2.561l.041.06c1.161 1.695 2.608 2.951 4.074 3.537 1.412.564 2.081.63 2.461.63.16 0 .288-.013.4-.024l.072-.007c.488-.043 1.56-.599 1.804-1.276.192-.534.243-1.117.115-1.329-.088-.144-.239-.216-.43-.308Z"/>
                  </svg>
                  </a>
            </div>
        </div>
  </footer>
  <script>
	 const listMenuBar = document.getElementById("listMenu")
    const headerSection = document.getElementById("header")
    const cancelButton = document.getElementById("cancelButton")
    const cancelMenus = document.getElementById("cancelMenus")
    const body = document.getElementById("body")
    const profileSetting = document.getElementById("profileSetting")
    const profile = document.getElementById("profile")
    const mouseOver = document.getElementsByClassName("mouse-over")
    const cancelTrailer = document.getElementById("cancelTrailer")
    const trailerVideoContainer = document.getElementById("trailerVideoContainer")
    const playTrailer = document.getElementById("playTrailer")
    const cartName = document.getElementsByClassName("cartName")
    //on click listMenuBar cancelMenus: displayflex and hide headerSection
     //<!-- search bar -->
     const disappear = document.querySelector(".disappear")
     const disappearButton = document.querySelector("#disappearButton")
     console.log(disappear, "hello")
     disappearButton.addEventListener("click", ()=> {
        window.scrollTo({top: 0, left:0, behavior:"smooth"})
         if (disappear.classList.contains("hidden")) {
            disappear.classList.remove("hidden")
            disappear.classList.add("h-fit")  
         } else {
            disappear.classList.remove("h-fit")
            disappear.classList.add("hidden")    
         }
     })
    try{
        listMenuBar.addEventListener('click', ()=> {
            cancelMenus.style.width = "100%"

        })
    }catch (error){
        console.warn(error.title)
    }

    //on click cancelButton cancelMenus: hide and display headerSection with listMenuBar
    try{
        
        cancelButton.addEventListener('click', ()=> {
            cancelMenus.style.width = "0"
        })
    }catch (error){
        console.warn(error.title)
    }

    profile.addEventListener("mouseover", ()=> {
        profileSetting.style.right = '0'
        profileSetting.style.width = "fit-content"
    })

    
    profileSetting.addEventListener("mouseleave", ()=> {
        
        profileSetting.style.width = "0"
        profileSetting.style.right = '-33%'
    })

    //trailer container stop

    cancelTrailer.addEventListener("click", ()=> {
        trailerVideoContainer.classList.remove("grid")
        trailerVideoContainer.classList.add("hidden")
    })

    playTrailer.addEventListener("click", ()=> {
        trailerVideoContainer.classList.remove("hidden")
        trailerVideoContainer.classList.add("grid")
    })

   /* search button md
    }*/
    const searchForm = document.getElementById("searchForm")
    const linkSearch = document.querySelectorAll(".linkSearch")
    const buttonSearchMd = document.getElementById("disappearButtonMd") 
    buttonSearchMd.addEventListener("click", ()=> {
        if (searchForm.classList.contains("w-0")){
            for (const element of linkSearch) {
                element.classList.add("hidden")
            }
            searchForm.classList.remove("w-0")
            searchForm.classList.add("w-full")
            buttonSearchMd.innerHTML = ""
        } else {
            searchForm.classList.remove("w-full")
            searchForm.classList.add("w-0")
            for (const element of linkSearch) {
                element.classList.remove("hidden")
            }
            buttonSearchMd.classList.remove("hidden")
            buttonSearchMd.classList.add("block")
        }
    }) 
  </script>
{% endblock bodyContent %}
