{% extends "registration.html" %}


{% block title %}
Login
{% endblock title %}

{% block form %}
<form action="/membership/login/" method="post" id="form" class="text-black font-sans">
     {% csrf_token %}
     
     {{form}}
     
     
     <button class="bg-blue-600 mt-3 p-2 text-sm text-white rounded-md font-bold hover:opacity-90" >
        
         Login
         
     </button>
 </form>
 {% endblock form %}
 {% block forgotPassword %}
 <div class="whitespace-nowrap  my-3 ">
             
     <p class="pt-2 text-gray-600 px-3 text-sm">Forgot password?
         <a href="{% url 'password_reset' %}" class="text-sky-600 font-sans text-sm hover:text-sky-400">
             Reset
         </a></p>
 
 </div>
 {% endblock forgotPassword %}
{% block formExtra %}
You don't have account? 
{% endblock formExtra %}

{% block formExtraLink %}
/membership/register/
{% endblock formExtraLink %}

{% block formExtraLinkName %}
Create
{% endblock formExtraLinkName %}
