{% extends "layout.html" %}
{% block title %}
Confirm | Password
{% endblock title %}
{% block style %}
h2 {
    padding: 1.5rem 0  1rem;
    font-size:2rem;
}
label {
    font-size:1.2rem;

}
input {
    background: gray;
    color:white;
    width: 100%;
}
li {
    color:red;
}
{% endblock style %}
{% block bodyContent %}
{% if validlink %}
<h2>Change Password</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="bg-slate-500 mt-5 ml-4 p-1 rounded-sm text-white">Change password</button>
</form>
{% else %}
<p>span possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock bodyContent %}