{% extends "layout.html" %}
{% block title %}
Forgot | Password
{% endblock title %}
{% block style %}
h3 {
    padding: 1.5rem 0  1rem;
    font-size:2rem;
}
label {
    font-size:1.2rem;

}
input {
    background: gray;
    color:white
}
{% endblock style %}
{% block bodyContent %}
<h3 class="font-sans font-bold">Forgot password</h3>
<form method="post" class="w-fit"> 
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="bg-slate-500 mt-5 ml-4 p-1 rounded-sm text-white">Submit</button>
</form> 

{% endblock bodyContent %}