{% extends "layout.html" %}
{% block title %}
Register
{% endblock title %}

{% block style %}
    #formSection {
        background-image: linear-gradient(to right, rgb(4, 139, 163), rgb(64, 40, 172), rgb(174, 0, 255));
    }
    form div {
       paddding: 0.5rem 0 ;
       margin: 1rem 1rem 0;
       border-bottom: 1px solid rgba(37, 37, 37, 0.3);
       min-width: 40vw;
       min-width:120px;
    }
    form div li {
        color: red;
        
        
    }
    form input:focus {
        border-bottom: 1px solid rgba(37, 37, 37, 0.6);
        outline:none;
    }
    form textarea:focus {
        border: 1px solid rgba(37, 37, 37, 0.6);
        outline:none;
    }
    form label {
        color: rgba(37, 37, 37, 0.9);
        display:block;
    }
    form input {
       padding:0.3rem; 
       display:block;
       width:100%;
       
    }
    @media screen and (min-width:1000px) {
        form div {
            min-width: 30vw;
        }
    }
    @media screen and (min-width:1200px) {
        form div {
            min-width: 20vw;
        }
    }
    @media screen and (min-width:1800px) {
        form div {
            min-width: 10vw;
        }
    }
{% endblock style %}

    
{% block bodyContent %}
<section id="formSection" class="min-h-screen grid place-content-center">
    <div class="bg-white rounded-md overflow-hidden">
        <a href="/" class="block text-center py-5 text-xl font-bold font-sans border-gray-150 border-2 hover:bg-gray-400 transition-all duration-150 ease-in-out">KingstoneMovies</a>
        {% block form %}
        
       <form action="/membership/register/" method="post" id="form" class="w-fit m-auto font-sans">
            {% csrf_token %}
            
            {{form}}
            
            
            <button id="formSection" class="block w-4/5 m-auto my-4 py-1 rounded-md font-sans font-bold text-white hover:translate-x-1 hover:scale-110 transition-all duaration-150 ease-in-out" >
               
                Signup
                
            </button>
        </form>
        {% endblock form %}
        {% block forgotPassword %}
        
        {% endblock forgotPassword %}
        {% block removeExtra %}
        
        
        <div class="w-4/5 m-auto whitespace-nowrap">
            
            <p class="py-2 text-gray-600">
                {% block formExtra %}
                You have account? 
                {% endblock formExtra %}
                
                <a href="
                    {%block formExtraLink%}
                        /membership/login/
                    {% endblock formExtraLink%}

                " class="text-sky-600 font-sans hover:text-sky-400">
                    {% block formExtraLinkName %}
                    login
                    {% endblock formExtraLinkName %}
                </a></p>

        </div>
        {% endblock removeExtra %}
    </div>
</section>

<script>
    const form = document.getElementById("form")
    const inputs = document.querySelectorAll("input")

    for (const input of inputs) {
        if(input.id == "id_username"){
            input.placeholder = "Type your username"
        } else if(input.id == "id_email"){
            input.placeholder = "Type your email"
        }else if(input.id == "id_password1"){
            input.placeholder = "Type your password"
        }else if(input.id == "id_password2"){
            input.placeholder = "Confirm your password"
        } else if(input.id == "id_password"){
            input.placeholder = "Type your password"
        } else {
            console.log()
        }
    }
</script>
{% endblock bodyContent %}
