{% extends "layout.html" %}
{% block title %}
Register
{% endblock title %}

{% block style %}
form {
    margin: 5vh 1rem 0;
    
}
    label {
        display:block;
        font-size:13px;
        margin-bottom: 0.4rem;
        margin-top: 0.6rem;
        color: rgba(0, 0 ,0 , 0.7);
        font-weight: bold;
        letter-spacing: 1.2px;
    }
    li {
        color: red;
        font-size: 12px;
        padding-top: 0.5rem;
        <!-- text-align:center; -->
    }
    
    #form input {
        background-color: rgb(0, 0 ,0, 0.05);
        display:block;
        width: 100%;
        outline: none;
        border: none;
        color: rgb(0, 0 ,0, 0.7);
        font-size: 13px;
        border-radius: 7px;
    }
    #form input:active {
        outline:none;
        border:none;
    }
    @media screen and (min-width: 600px) {
        #formSection {
            width: 80%;
            margin: 5vh auto;
        }
    }
    @media screen and (min-width: 750px) {
        #formSection {
            width: 65%;
            margin: 5vh auto;
        }
    }
    @media screen and (min-width: 1000px) {
        #formSection {
            width: 50%;
            margin: 5vh auto;
        }
    }
    @media screen and (min-width: 1200px) {
        #formSection {
            width: 40%;
            margin: 5vh auto;
        }
    }
{% endblock style %}

    
{% block bodyContent %}
<section id="formSection" class="mx-5">
    <div class="">
        <a href="/" class="block text-center py-5 text-xl font-bold font-sans border-gray-150 border-2 hover:bg-gray-400 transition-all duration-150 ease-in-out">KingstoneMovies</a>
        {% block form %}
        
       <form action="/membership/register/" method="post" id="form" class=" font-sans">
            {% csrf_token %}
            
            {{form}}
            
            
            <button class="bg-blue-600 mt-3 p-2 text-sm text-white rounded-md font-bold hover:opacity-90" >
               
                Signup
                
            </button>
        </form>
        {% endblock form %}
        {% block forgotPassword %}
        
        {% endblock forgotPassword %}
        {% block removeExtra %}
        
        
        <div class="whitespace-nowrap  my-2 text-sm ">
            
            <p class="text-gray-600 px-3">
                {% block formExtra %}
                You have account? 
                {% endblock formExtra %}
                
                <a href="
                    {%block formExtraLink%}
                        /membership/login/
                    {% endblock formExtraLink%}

                " class="text-sky-600 font-sans hover:text-sky-400 inline-block hover:opacity-90 text-sm">
                    {% block formExtraLinkName %}
                    login
                    {% endblock formExtraLinkName %}
                </a></p>

        </div>
        {% endblock removeExtra %}
    </div>
</section>

<script>
    const form = document.getElementById("form")
    const inputs = document.querySelectorAll("input")

    for (const input of inputs) {
        if(input.id == "id_username"){
            input.placeholder = "Type your username"
        } else if(input.id == "id_email"){
            input.placeholder = "Type your email"
        }else if(input.id == "id_password1"){
            input.placeholder = "Type your password"
        }else if(input.id == "id_password2"){
            input.placeholder = "Confirm your password"
        } else if(input.id == "id_password"){
            input.placeholder = "Type your password"
        } else {
            console.log()
        }
    }
</script>
{% endblock bodyContent %}
